<style>

</style>


<nav class="bg-teal-700 text-white border-gray-200 dark:bg-gray-900">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/assets/plant.jpg" class="h-8 rounded-full" alt="Smart Plant" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Smart Plant</span>
    </a>
    <div class="flex items-center space-x-6 rtl:space-x-reverse">
      <a href="#" class="text-sm  text-blue-600 dark:text-blue-500 hover:underline"></a>
    </div>
  </div>
</nav>
<!-- <nav class="bg-gray-50 dark:bg-gray-700">
  <div class="max-w-screen-xl px-4 py-3 mx-auto">
      <div class="flex items-center">
          <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
              <li>
                  <a href="#" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Home</a>
              </li>
              <li>
                  <a href="#" class="text-gray-900 dark:text-white hover:underline">Company</a>
              </li>
              <li>
                  <a href="#" class="text-gray-900 dark:text-white hover:underline">Team</a>
              </li>
              <li>
                  <a href="#" class="text-gray-900 dark:text-white hover:underline">Features</a>
              </li>
          </ul>
      </div>
  </div>
</nav> -->



<div
  class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
  <ul class="flex flex-wrap -mb-px mx-auto max-w-screen-xl">
    <li class="me-2" (click)="activeIndex = 0">
      <a href="#"
        [ngClass]="{'inline-block p-4 border-b-2':true,'border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300':activeIndex!=0, 'text-blue-600 border-blue-600 rounded-t-lg active': activeIndex==0}"
        aria-current="page">Overview</a>
    </li>
    <li class="me-2" (click)="activeIndex = 1">
      <a href="#"
        [ngClass]="{'inline-block p-4 border-b-2':true,'border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300':activeIndex!==1,'text-blue-600 border-blue-600 rounded-t-lg active': activeIndex===1}">Humidity</a>
    </li>

    <li class="me-2" (click)="activeIndex = 2">
      <a href="#"
        [ngClass]="{'inline-block p-4 border-b-2':true,'border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300':activeIndex!==2,'text-blue-600 border-blue-600 rounded-t-lg active': activeIndex===2}">Light
        Radiation</a>
    </li>
    <li class="me-2" (click)="activeIndex = 3">
      <a href="#"
        [ngClass]="{'inline-block p-4 border-b-2':true,'border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300':activeIndex!==3,'text-blue-600 border-blue-600 rounded-t-lg active': activeIndex===3}">Temperature</a>
    </li>
    <li class="me-2" (click)="activeIndex = 4">
      <a href="#"
        [ngClass]="{'inline-block p-4 border-b-2':true,'border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300':activeIndex!==4,'text-blue-600 border-blue-600 rounded-t-lg active': activeIndex===4}">Gaz
        Detector</a>
    </li>
    <li class="me-2" (click)="activeIndex = 5">
      <a href="#"
        [ngClass]="{'inline-block p-4 border-b-2':true,'border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300':activeIndex!==5,'text-blue-600 border-blue-600 rounded-t-lg active': activeIndex===5}">PH</a>
    </li>

  </ul>
</div>

<p-tabView [(activeIndex)]="activeIndex">
  <p-tabPanel>
    <div class="flex">
      <div class="w-min border-r border-gray-200 pr-10">
        <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Etats</h2>
        <ul class="max-w-md space-y-2 text-gray-500 list-inside dark:text-gray-400">

          <li class="flex items-center" *ngIf="!humidityAltert">
            <svg class="w-4 h-4 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            Humitité
          </li>
          <li class="flex items-center text-red-800" *ngIf="humidityAltert">

            <svg class="flex-shrink-0 w-4 h-4  me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>

            Humitité
          </li>


          <li class="flex items-center"  *ngIf="!lightRadiationAltert">
            <svg class="w-4 h-4 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            Lumière
          </li>
          <li class="flex items-center text-red-800" *ngIf="lightRadiationAltert">

            <svg class="flex-shrink-0 w-4 h-4  me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>

            Lumière
          </li>

          <li class="flex items-center" *ngIf="!temperatureAltert">
            <svg class="w-4 h-4 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            Temperature
          </li>

          <li class="flex items-center text-red-800" *ngIf="temperatureAltert">

            <svg class="flex-shrink-0 w-4 h-4  me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>

            Temperature
          </li>

          <li class="flex items-center" *ngIf="!gazAltert">
            <svg class="w-4 h-4 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            Gaz
          </li>

          <li class="flex items-center text-red-800"  *ngIf="gazAltert">

            <svg class="flex-shrink-0 w-4 h-4  me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>

            Gaz
          </li>

          <li class="flex items-center" *ngIf="!phAltert">
            <svg class="w-4 h-4 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            PH
          </li>

          <li class="flex items-center text-red-800" *ngIf="phAltert">

            <svg class="flex-shrink-0 w-4 h-4  me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>

            PH
          </li>
        </ul>


      </div>
      <div class="grow">
        <div class="flex m-10 mx-0  mt-0 flex-wrap items-center justify-center">
          <div style="display: block;" class="w-5/12 mx-10 my-5">
            <canvas baseChart width="1500" height="400" [type]="'line'" [data]="humidity" [options]="lineChartOptions"
              [legend]="lineChartLegend">
            </canvas>
          </div>

          <div style="display: block;" class="w-5/12 mx-10 my-5">
            <canvas baseChart width="1500" height="400" [type]="'line'" [data]="lightRadiation"
              [options]="lineChartOptions" [legend]="lineChartLegend">
            </canvas>
          </div>

          <div style="display: block;" class="w-5/12 mx-10 my-5">
            <canvas baseChart width="1500" height="400" [type]="'line'" [data]="temperature"
              [options]="lineChartOptions" [legend]="lineChartLegend">
            </canvas>
          </div>

          <div style="display: block;" class="w-5/12 mx-10 my-5">
            <canvas baseChart width="1500" height="400" [type]="'line'" [data]="gazPresence"
              [options]="lineChartOptions" [legend]="lineChartLegend">
            </canvas>
          </div>

          <div style="display: block;" class="w-5/12 mx-10 my-5">
            <canvas baseChart width="1500" height="400" [type]="'line'" [data]="ph" [options]="lineChartOptions"
              [legend]="lineChartLegend">
            </canvas>
          </div>

        </div>


      </div>

    </div>



  </p-tabPanel>

  <!-- humidity -->
  <p-tabPanel>
    <div class="flex">
      <div>
        <div
          class="max-w-sm h-full p-6 bg-white border border-gray-200 rounded-lg shadow-xs dark:bg-gray-800 dark:border-gray-700">

          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Capteur d'humidité du sol
          </h5>

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Un capteur d'humidité du sol est un dispositif conçu pour mesurer le niveau d'humidité du sol.
            Ces capteurs sont couramment utilisés dans l'agriculture, l'horticulture, et d'autres domaines
            où la gestion de l'arrosage est cruciale.




          </p>

          <p> Dans notre situation, l'arrosage est déclenché lorsque le niveau d'humidité descend en dessous de <span
              class="text-black">200</span>.</p>




        </div>




      </div>
      <div class="w-9/12 mx-10 my-5">
        <canvas baseChart width="1500" height="400" [type]="'line'" [data]="humidity" [options]="lineChartOptions"
          [legend]="lineChartLegend">
        </canvas>
        <div *ngIf="!humidityAltert">
          <div
            class="flex items-center  mt-20 p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
            role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium">OK!</span> Tout fonctionne normalement avec votre plante, vous pouvez prendre du
              repos.
            </div>
          </div>

        </div>
        <div *ngIf="humidityAltert">
          <div
            class="flex items-center mt-20 p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium">Danger!</span> La valeur est inférieure au seuil, nécessitant une action
              immédiate..
            </div>
          </div>
        </div>



      </div>

    </div>
  </p-tabPanel>

  <!-- lightRadiation -->
  <p-tabPanel>
    <div class="flex">
      <div>
        <div
          class="max-w-sm h-full p-6 bg-white border border-gray-200 rounded-lg shadow-xs dark:bg-gray-800 dark:border-gray-700">

          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Capteur de lumière
          </h5>

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Un capteur de lumière est un dispositif électronique conçu pour mesurer l'intensité lumineuse dans son environnement. Il détecte les variations de la luminosité en convertissant la lumière en un signal électrique, permettant ainsi de surveiller les conditions d'éclairage dans un endroit donné. 



          </p>

          <p> Dans notre situation, on est alerté s'il descend en dessous de <span
              class="text-black">20</span>.</p>




        </div>




      </div>
      <div class="w-9/12 mx-10 my-5">
        <canvas baseChart width="1500" height="400" [type]="'line'" [data]="lightRadiation" [options]="lineChartOptions"
          [legend]="lineChartLegend">
        </canvas>
        <div *ngIf="!lightRadiationAltert">
          <div
            class="flex items-center  mt-20 p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
            role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium">OK!</span> Tout fonctionne normalement avec votre plante, vous pouvez prendre du
              repos.
            </div>
          </div>

        </div>
        <div *ngIf="lightRadiationAltert">
          <div
            class="flex items-center mt-20 p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium">Danger!</span> La valeur est inférieure au seuil, nécessitant une action
              immédiate..
            </div>
          </div>
        </div>



      </div>

    </div>

  </p-tabPanel>

  <!-- temperature -->
  <p-tabPanel>
    <div class="flex">
      <div>
        <div
          class="max-w-sm h-full p-6 bg-white border border-gray-200 rounded-lg shadow-xs dark:bg-gray-800 dark:border-gray-700">

          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Capteur de température (pression et altitude)
          </h5>

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Un capteur de température atmosphérique est un dispositif électronique conçu pour mesurer la température de l'air dans l'environnement. Il utilise des composants sensibles à la chaleur pour convertir la température en un signal électrique, fournissant ainsi des données précises sur les conditions thermiques de l'atmosphère. 



          </p>

          <p> Dans notre situation, on est alerté s'il monte au dessus de <span
            class="text-black">30</span>.</p>




        </div>




      </div>
      <div class="w-9/12 mx-10 my-5">
        <canvas baseChart width="1500" height="400" [type]="'line'" [data]="temperature" [options]="lineChartOptions"
          [legend]="lineChartLegend">
        </canvas>
        <div *ngIf="!humidityAltert">
          <div
            class="flex items-center  mt-20 p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
            role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium">OK!</span> Tout fonctionne normalement avec votre plante, vous pouvez prendre du
              repos.
            </div>
          </div>

        </div>
        <div *ngIf="temperatureAltert">
          <div
            class="flex items-center mt-20 p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium">Danger!</span> La valeur est inférieure au seuil, nécessitant une action
              immédiate..
            </div>
          </div>
        </div>



      </div>

    </div>
  </p-tabPanel>



  <!-- gazPresence -->
  <p-tabPanel>
    <div class="flex">
      <div>
        <div
          class="max-w-sm h-full p-6 bg-white border border-gray-200 rounded-lg shadow-xs dark:bg-gray-800 dark:border-gray-700">

          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Capteur de gaz et de fumée 
          </h5>

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Un capteur de gaz et de fumée est un dispositif électronique conçu pour détecter la présence de gaz ou de particules de fumée dans l'air. Ces capteurs sont essentiels pour la sécurité, car ils permettent de détecter rapidement des situations potentiellement dangereuses, comme une fuite de gaz ou un début d'incendie dans notre ferme.




          </p>

          <p> Dans notre situation, on est alerté si le capteur en détecte. </p>




        </div>




      </div>
      <div class="w-9/12 mx-10 my-5">
        <canvas baseChart width="1500" height="400" [type]="'line'" [data]="gazPresence" [options]="lineChartOptions"
          [legend]="lineChartLegend">
        </canvas>
        <div *ngIf="!gazAltert">
          <div
            class="flex items-center  mt-20 p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
            role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium">OK!</span> Tout fonctionne normalement avec votre plante, vous pouvez prendre du
              repos.
            </div>
          </div>

        </div>
        <div *ngIf="gazAltert">
          <div
            class="flex items-center mt-20 p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium">Danger!</span> La valeur est inférieure au seuil, nécessitant une action
              immédiate..
            </div>
          </div>
        </div>



      </div>

    </div>
  </p-tabPanel>

  <!-- ph -->
  <p-tabPanel>
    <div class="flex">
      <div>
        <div
          class="max-w-sm h-full p-6 bg-white border border-gray-200 rounded-lg shadow-xs dark:bg-gray-800 dark:border-gray-700">

          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Capteur de PH
          </h5>

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Un capteur de pH est un dispositif conçu pour mesurer le niveau d'acidité ou d'alcalinité d'une solution, souvent mesuré sur une échelle de 0 à 14 (0 étant très acide, 14 étant très alcalin, et 7 étant neutre).




          </p>

          <p> Dans notre situation, ca nous permet de savoir l'acidité de du sol de notre plante. On est alerté si ca monte au dessu <span
              class="text-black">12</span>.</p>




        </div>




      </div>
      <div class="w-9/12 mx-10 my-5">
        <canvas baseChart width="1500" height="400" [type]="'line'" [data]="ph" [options]="lineChartOptions"
          [legend]="lineChartLegend">
        </canvas>
        <div *ngIf="!phAltert">
          <div
            class="flex items-center  mt-20 p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
            role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium">OK!</span> Tout fonctionne normalement avec votre plante, vous pouvez prendre du
              repos.
            </div>
          </div>

        </div>
        <div *ngIf="phAltert">
          <div
            class="flex items-center mt-20 p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium">Danger!</span> La valeur est inférieure au seuil, nécessitant une action
              immédiate..
            </div>
          </div>
        </div>



      </div>

    </div>
  </p-tabPanel>
</p-tabView>

<!-- Highlight Card -->

<!-- Footer -->
<!-- <footer>
  Love Angular?&nbsp;
  <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> Give our repo a star.
    <div class="github-star-badge">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
      </svg>
      Star
    </div>
  </a>
  <a href="https://github.com/angular/angular" target="_blank" rel="noopener">
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2" />
      <path d="M0 0h24v24H0z" fill="none" />
    </svg>
  </a>
</footer> -->

<!-- <svg id="clouds" xmlns="http://www.w3.org/2000/svg" width="2611.084" height="485.677" viewBox="0 0 2611.084 485.677">
  <title>Gray Clouds Background</title>
  <path id="Path_39" data-name="Path 39"
    d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
    transform="translate(142.69 -634.312)" fill="#eee" />
</svg> -->



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>